name: SportXtv Otomatik Guncelleme

on:
  workflow_dispatch:

jobs:
  guncelle:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Dosya Olustur
        run: |
          echo '[{"kanal_adi": "SportX VIP 1", "yayin_linki": "http://babatv.online:8080", "kategori": "Canlı Maç"}]' > mac_listesi.json
      - name: Kaydet
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add mac_listesi.json
          git commit -m "Liste guncellendi" || exit 0
          git push
